<!doctype html>
<html lang="en">
    <head>
        <title>{% block title%} Marwa Khalid {% endblock %}</title>
        {% block javascripts %} <script src="quiz.js"></script> {% endblock %}
         {% block stylesheets %} <link href="./quiz1.css" rel="stylesheet"/>{% endblock %}
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
     
        <!--jquery Tags -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Marwa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myMenu"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse collapse show" id="myMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hobbies">Hobbies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="home" class="home-section">
            <div class="row">
                <div class="home-content">
                    <h4>Hi! I'm Marwa Khalid</h4>
                    <h3>Web developer | Game developer</h1>
                    <a target="_blank" download="" id="link" href="./marwacv.pdf">Download CV</a>
                </div>
            </div>
            <a href="#" class="scroll-down">
                <img src="./arrow.svg" alt="scroll down icon">
            </a>
        </div>
        <div id="about" class="about-section">
            <div class="row shadow" >
                <!-- changed -->
                <div id="image" class="col-sm-3"> 
                    <img src="Marwa.jpeg" alt="My picture">
                </div>
                <!-- changed -->
                <div id="content" class="col-sm-9 col-xs-12">
                    <div class="title">
                        <h1>About Me</h1>
                    </div> 
                    <p>
                    </br>Hello! I am Marwa Khalid. Web Developer, Game Developer and Graphic Designer. </br></br> I am a highly motivated and career oriented web developer and my focus is always on progress. It is my area of expertise and I have a standing background in this industry. I am passionate and hard-working with experience in developing well coded pages.</p> 
                    <div class="title">
                        <h1>Basic Information</h1>
                    </div> 
                    </br>
                    <div class="row">
                        <div class="col-sm-3"><strong class="text-uppercase">Age:</strong></div>
                        <div class="col-sm-9">20</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3"><strong class="text-uppercase">Email:</strong></div>
                        <div class="col-sm-9" >marwakhalid558@gmail.com</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3"><strong class="text-uppercase">Phone:</strong></div>
                        <div class="col-sm-9">03XX-XXXXXXX</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="skills" class="skills-section">
            <div class="row">
                <div class="title">
                    <h2>My Skills</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./webb.jpg" alt="">
                        </div>
                        <h4>Web Development</h4>
                        <p>I have great experience developing different sites using MERN stack. </p>                    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./game.jpg" alt="">
                        </div>
                        <h4>Game Development</h4>
                        <p>I can create responsive 3D and 2D games using unity engine. </p>                    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./app.png" alt="">
                        </div>
                        <h4>App Development</h4>
                        <p>I can build ios and android apps side by side using flutter platform. </p>                    
                    </div>
                </div>
            </div>
        </div>

        <div id="hobbies" class="hobbies-section">
            <div class="row">
                <div class="title">
                    <h2>My Hobbies</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./book.jpg" alt="">
                        </div>
                        <h4>Book Reading</h4>                   
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./coding.jpg" alt="">
                        </div>
                        <h4>Coding</h4>              
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./guitar.jpg" alt="">
                        </div>
                        <h4>Playing Guitar</h4>                 
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="item shadow-lg">
                        <div class="image">
                            <img src="./crying.jpg" alt="">
                        </div>
                        <h4>Suffering is my passion</h4>                 
                    </div>
                </div>
            </div>
        </div>


        <footer id="footer" class="footer">
            <div class="container">
                 <div class="social">
                        <h4></br>Contact Me</h4>
                        <div class="social-links">
                            <a target="_blank" href="https://web.facebook.com/marwa.khalid.12720/"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="https://twitter.com/__marwakhalid"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com/marwakhalid___/"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/marwa-khalid-887804198/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="footerbottom">
                 <p>&copy;2022 Marwa Khalid</p>
             </div>
            </div>
       </footer>
    </body>
</html>
