
.navbar{
    display: block;
}    
.navbar *{
    color: rgb(255, 255, 255) !important ;
}

.navbar *:hover{
    color: goldenrod !important;
}
.navbar-nav a{
    font-family: cursive;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.navbar-light .navbar-brand img{
    width: 30%;
    padding: 10px;
    font-weight: 500;
}

.navbar-nav {
    text-align: center;
}
.nav-link {
    padding: .2rem 1rem;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: white !important;
}

.btn{
    color: white !important;
}

.btn-container{
    text-align: center;
    align-items: center;
    align-content: center;
}

.row{
    margin-top: 100px;
}

.search .fa{
    padding: 5px;
    margin: 0px;
}

.display-card{
    display: "";
}

.hide-card{
    display: none;
}

#unmatched{
    color: black !important;
}

.footer{
padding: 10px;
background-color: black;
}

.social{
text-align: center;
margin-left: auto;
margin-right: auto;
width: 15em;
}

.social h4{
font-size: 18px;
color: rgb(255, 255, 255);
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}

.social h4::before{
content: '';
position: absolute;
left:70px;
bottom: -10px;
background-color: #e0ac1c;
height: 2px;
box-sizing: border-box;
width: 100px;
}

.social .social-links a{
display: inline-block;
height: 40px;
width: 40px;
margin:0 10px 10px 0;
text-align: center;
color: #ffffff;
font-size: 20px;
border-radius: 70%;
}
.fa{
padding: 10px;
border-radius: 70%;
}
.fa:hover{
color: grey;
}

.footerbottom{
text-align:center;
color: #999;
padding-top:30px;
margin-left: auto;
margin-right: auto;
font-size: 14px;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-instagram {
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}